/* Add screen styles below */
.grd {
    position: absolute;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    gap: 50px;
}

.grd .planet{
    margin: 0;
    padding: 0;
    background: rgb(34, 28, 44);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;    
    line-height: 0.1;
}

.circle {
    border-radius: 50%;
    margin: 0 auto 0 auto;
    border-radius: 50%;
}
