/* Add screen styles below */
.grd {
    position: absolute;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    gap: 50px;
}

.grd .edit{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 400px;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    border: solid;
    border-color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;    
    line-height: 0.1;
}

.grd .profile{
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    border: solid;
    border-color: black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;    
    line-height: 0.1;
}

.circle {
    border-radius: 50%;
    margin: 0 auto 0 auto;
    border-radius: 50%;
}
